<!DOCTYPE html>
<html>
<head>
<style>
Head {
  background-color: linen;
  font-family: semplicitapro, sans-serif;
font-style: normal;
font-weight: 300;
}

h1 {
  color: maroon;
  margin-left: 40px;
} 
</style>
